<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="css/politicadeprivacidadStyle.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
    <title>Política de privacidad</title>
</head>
<body>
    
    {{>header}}


    <h1 class="politica-title">Política de privacidad</h1>
    <h2 class="politica-subtitulo">Sobre esta Política</h2>
    <p class="politica-p">
        Esta Política expone la información esencial referente a los datos personales y la relación con Spotify AB. Esta Política se aplica a todos los servicios Spotify y a cualesquiera servicios asociados (en adelante, el «Servicio Spotify»). Las condiciones que regulan el uso que usted haga del Servicio Spotify están contenidas en nuestros <a href="terminos.hbs" style="color: #1db954 ;">Términos y Condiciones de Uso </a>.

Es posible que periódicamente desarrollemos servicios nuevos o complementarios. Si el lanzamiento de estos servicios nuevos o complementarios ocasionaran cambios importantes en la manera en que recopilamos o tratamos sus datos personales, le proporcionaremos más información o políticas o condiciones adicionales. Estos servicios nuevos o complementarios estarán sujetos a la presente Política, a menos que indiquemos otra cosa con ocasión de su lanzamiento.

El objetivo de esta Política es:

<ol class="politica-ol">
   <li>Garantizar que usted comprende qué datos personales recopilamos sobre su persona, los motivos por los que los recopilamos y utilizamos, y con quién compartimos esos datos;</li> 
<li>Explicar la manera en que utilizamos los datos personales que usted nos facilita a fin de que pueda disfrutar de una experiencia excelente al utilizar el Servicio Spotify; y</li>
<li>Explicar sus derechos y opciones con respecto a los datos personales que recopilamos sobre usted y que tratamos, así como también la forma en que protegeremos su privacidad.</li>
</ol>
    </p>

    <h2 class="politica-subtitulo">Conservación y supresión de datos</h2>

    <p class="politica-p">
        Conservaremos sus datos personales únicamente durante el tiempo necesario para prestarle el Servicio Spotify y con finalidades comerciales legítimas y esenciales, como mantener el rendimiento del Servicio Spotify, adoptar decisiones empresariales basadas en datos relativos a nuevas características y ofertas, cumplir nuestras obligaciones legales y resolver controversias. Conservaremos algunos de sus datos personales mientras usted siga siendo usuario del Servicio Spotify. Por ejemplo, conservamos sus listas de reproducción, biblioteca de canciones e información de cuenta.

        Si usted así lo solicita, suprimiremos o anonimizaremos sus datos personales de modo que ya no le identifiquen, a menos que estemos legalmente facultados u obligados a mantener ciertos datos personales, en particular en situaciones como las siguientes:
<ol class="politica-ol">
    <li>
        Si existe un problema no resuelto en relación con su cuenta, como un saldo acreedor pendiente o una reclamación o controversia no resuelta, conservaremos los datos personales necesarios hasta la resolución del problema;
    </li>

    <li>
        Cuando necesitemos conservar datos personales a efectos de nuestras obligaciones legales, fiscales, de auditoría y contabilidad, conservaremos los datos personales necesarios durante el período exigido por la legislación aplicable; y/o
    </li>
    
    <li>
        Cuando sea necesario para nuestros intereses empresariales legítimos, como la prevención de fraudes o la preservación de la seguridad de nuestros usuarios.
    </li>
</ol>
</p>
<h2 class="politica-subtitulo">Transferencia a otros países</h2>
<p class="politica-p">
    Spotify comparte los datos personales con empresas del grupo Spotify de otros países con objeto de realizar las actividades señaladas en esta Política. Spotify puede también subcontratar el tratamiento o compartir sus datos personales con terceros situados en países que no son su propio país. Por lo tanto, los datos personales pueden estar sujetos a leyes de privacidad que sean distintas de las de su país.

Por ejemplo, es posible que los datos personales recopilados en la Unión Europea y Suiza sean transferidos a terceros situados en un país ajeno a la Unión Europea y Suiza, y ser tratados por dichos terceros. En tales casos, Spotify garantizará que la transferencia de los datos personales sea realizada con arreglo a la legislación de privacidad vigente y, en particular, que existan medidas contractuales, técnicas y organizativas adecuadas, como las cláusulas contractuales estándar aprobadas por la Comisión de la UE.


</p>

<div class="list-group pt-3">
    <ul class="list-group list-group-flush py-3">
      <li class="list-grop-item list-unstyled pt-2"><h4 class="politica-h4">Enlaces relacionados</h4></li>
        <a href="/terminos" style="text-decoration: none; color:  #1db954;"><li class="list-group-item list-unstyled">Términos y condiciones de Uso</li></a>
        <a href="/nosotros" style="text-decoration: none; color:  #1db954;"><li class="list-group-item text-left">Acerca de nosotros</li></a>
        <a href="error404.html" style="text-decoration: none; color:  #1db954;"><li class="list-group-item text-left">Cookies</li></a>

    </ul>
  </div>


    {{>footer}}

</body>
</html>