<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Términos y condiciones de uso</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="css/terminos.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
</head>
<body>
    
  {{>header}}

    <h1 class="terminos-title">Términos y condiciones <br> de Uso</h1>

    <p class="terminos-primer-parrafo">
        Hola, y bienvenido a los Términos y Condiciones de Uso de Spotify. 
     
     Por favor lee cuidadosamente estos Términos, nuestra Política de Privacidad y cualesquiera otros términos referenciados en este documento. Esperamos que estés sentado cómodamente y escuchando algo de buena música.

     Aquí vamos…
    </p>

<h2 class="terminos-subtitulo">Cambios a los Convenios</h2>
<p class="terminos-p">
    Ocasionalmente, podemos hacer cambios a los Convenios por razones válidas, tales como mejorar las funciones o características existentes o agregar nuevas funciones o características al Servicio, implementar avances en ciencia y tecnología, y ajustes técnicos razonables en el Servicio, garantizando la operabilidad o la seguridad del Servicio, y por razones legales o regulatorias. Cuando realicemos cambios importantes en los Convenios, te proporcionaremos un aviso según corresponda dependiendo de las circunstancias, por ejemplo, mostrando un aviso prominente o solicitando tu aceptación dentro del Servicio o enviándote un correo electrónico. En algunos casos, te notificaremos con anticipación, y tu uso continuo del Servicio después de que se hayan realizado los cambios constituirá tu aceptación de los cambios. Por lo tanto, asegúrate de leer cualquier aviso con cuidado. Si no deseas continuar usando el Servicio bajo la nueva versión de los Convenios, puedes cancelar tu cuenta poniéndote en contacto con nosotros. Si recibiste una Suscripción de Prueba o Pagada a través de un tercero, deberás cancelar la Suscripción Pagada aplicable a través de dicho tercero.
</p>

<h3 class="terminos-subt-3">Opciones de servicio</h3>
<p class="terminos-p">
    Podrás encontrar una descripción de nuestras opciones de Servicio en nuestro sitio web y te explicaremos qué opciones de Servicio tienes disponibles cuando creas una cuenta de Spotify. Ciertas opciones se te proporcionan de forma gratuita. El Servicio de Spotify que no requiere de pago alguno se denomina actualmente “Servicio Gratuito”. Otras opciones requieren pago antes de poder acceder a ellas (las “Suscripciones Pagadas”). También podemos ofrecer planes promocionales, membresías o servicios especiales, incluidas ofertas de productos y servicios de terceros junto con el Servicio de Spotify o a través de este. No somos responsables de los productos y servicios proporcionados por dichos terceros. Nos reservamos el derecho de modificar, rescindir o de otra manera enmendar nuestros planes de suscripción y ofertas promocionales ofrecidos en cualquier momento de conformidad con estos Términos.

Es posible que el Servicio Ilimitado no esté disponible para todos los usuarios. Explicaremos qué servicios están disponibles para ti cuando te registres para los servicios. Si cancelas tu suscripción al Servicio Ilimitado, o si tu suscripción al Servicio Ilimitado se interrumpe (por ejemplo, si cambias los detalles de pago), es posible que no puedas volver a suscribirse al Servicio Ilimitado. Ten en cuenta que es posible que el Servicio Ilimitado sea descontinuado en el futuro, en cuyo caso ya no se te cobrará por el Servicio.

Si compraste o recibiste un código, tarjeta de regalo, oferta de prepago u otra oferta proporcionada o vendida por o en nombre de Spotify para acceder a una Suscripción Pagada (“Código”), es posible que los términos y condiciones separados que se te presentaron, junto con el Código, también apliquen para tu acceso al Servicio y aceptas cumplir con dichos términos y condiciones. También podrás comprar acceso a una Suscripción Pagada a través de un tercero. En tales casos, es posible que los términos y condiciones separados con dicho tercero, además de los Convenios, apliquen para tu acceso al Servicio.
</p>

<h3 class="terminos-subt-3">Pruebas</h3>
<p class="terminos-p">
    Periódicamente, nosotros u otros en nuestro nombre podemos ofrecer pruebas de Suscripciones Pagadas por un período específico sin pago o a una tarifa reducida (una “Prueba”). Spotify puede determinar tu elegibilidad para una Prueba, y retirar o modificar una Prueba en cualquier momento sin notificación previa y sin responsabilidad alguna, en la medida permitida por la ley aplicable.

Para algunas Pruebas, te pediremos que proporciones tus detalles de pago para comenzar la Prueba. Al proporcionar dichos datos, aceptas que podamos comenzar a cobrarte automáticamente por la Suscripción Pagada el primer día posterior a la finalización de la Prueba de forma recurrente mensual u otro intervalo que se te informará con anticipación. SI NO DESEAS ESTE CARGO, DEBERÁS CANCELAR LA SUSCRIPCIÓN PAGADA APLICABLE ANTES DEL FINAL DE LA PRUEBA HACIENDO CLIC AQUÍ SI TE REGISTRASTE PARA LA PRUEBA A TRAVÉS DE SPOTIFY, O SI RECIBISTE TU PRUEBA A TRAVÉS DE UN TERCERO, DEBERÁS CANCELAR LA SUSCRIPCIÓN PAGADA APLICABLE A TRAVÉS DEL TERCERO.
</p>

<h2 class="terminos-subtitulo">Pagos, Cancelaciones y Período de Reflexión</h2>
<h3 class="terminos-subt-3">Facturación</h3>
<p class="terminos-p">
    Puedes comprar una Suscripción Pagada directamente de Spotify o a través de un tercero, ya sea (1) pagando una tarifa de suscripción por adelantado mensualmente o algún otro intervalo recurrente que se te informará antes de tu compra; o (2) realizando un prepago que te dará acceso al Servicio de Spotify por un período de tiempo específico (“Período Prepagado”).

 Spotify puede cambiar el precio de las Suscripciones Pagadas, incluidas las cuotas de suscripción recurrentes, el Periodo Prepagado (por períodos aún no pagados) o los Códigos, periódicamente, y te comunicará cualquier cambio en los precios por adelantado y, si corresponde, te informará cómo aceptar esos cambios Los cambios de precio entrarán en vigor al comienzo del próximo período de suscripción posterior a la fecha del cambio de precio. Sujeto a la ley aplicable, aceptas el nuevo precio al continuar usando el Servicio de Spotify después de que el cambio de precio entre en vigor. Si no estás de acuerdo con un cambio de precio, tienes derecho a rechazar el cambio anulando la Suscripción Pagada antes de que entre en vigor el cambio de precio.

<p class="terminos-p">Si te registra para una Suscripción Pagada, puedes cambiar de opinión por cualquier razón o sin ella y recibir un reembolso total de todos los fondos pagados dentro de los catorce (14) días a partir del día en que te registre para el servicio correspondiente (el “Periodo de Reflexión”) de acuerdo con lo siguiente:</p>

<ol class="terminos-ol">
    <li>Si te registras para una Prueba, aceptas que el Período de Reflexión para la Suscripción Pagada por la cual recibes la Prueba finaliza catorce (14) días después de que comiences la Prueba. Si no cancelas la Suscripción Pagada antes de que finalice la Prueba, pierdes tu derecho de desistimiento y autorizas a Spotify a cobrarte automáticamente el precio acordado cada mes hasta que canceles la Suscripción Pagada.
    </li>
    <li>Si compras una Suscripción Pagada sin Prueba, autorizas a Spotify a cobrarte automáticamente cada mes hasta que canceles. Aceptas que el Período de Reflexión está disponible durante los catorce (14) días posteriores a tu compra, pero se pierde una vez que utilizas el Servicio de Spotify durante ese período.</li>
</ol>
</p>

 <div class="list-container">
    <ul class="list-group list-group-flush py-3">
      <li class="list-grop-item list-unstyled pt-2"><h4 class="list-title">Enlaces relacionados</h4></li>
        <a href="/politicas" style="text-decoration: none; color:  #1db954;"><li class="list-group-item list-unstyled" id="list">Políticas de Privacidad</li></a>
        <a href="/nosotros" style="text-decoration: none; color:  #1db954;"><li class="list-group-item text-left" id="list">Acerca de nosotros</li></a>
        <a href="error404.html" style="text-decoration: none; color:  #1db954;"><li class="list-group-item text-left" >Cookies</li></a>

    </ul>
  </div>



{{>footer}}


</body>
</html>