nav {
  height: 80px;
  background-color: rgb(0, 0, 0);
  width: 100%;
}

nav ul {
  width: 484px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

nav li {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: rgb(255, 255, 255);
  margin-top: 15px;
}

nav a:hover {
  color: #1db954;
}

.spotify-logo {
  width: 150px;
  height: 75px;
  margin: 20px 0;
}

.container {
  height: inherit; /* get parent height */
  width: 1170px; /* add 970px for smaller screen */
  margin: 0px auto;
  padding: 0 20px;
  display: flex;
}
