*{
  margin:0;
  padding:0;
  list-style:none;
  text-decoration: none;
}




body{
  height:fit-content;
}



.footer{
  width:100%;
  display:block;
  overflow:hidden;
  padding:70px 0;
  box-sizing: border-box;
  background-color: #18181a;
  bottom: 0px;
}

.inner_footer{
  display:block;
  margin:0 auto;
  width: 1100px;
  height:100%;
}

.inner_footer .logo_container{
  width: 35%;
  float: left;
  height: 100%;
  display: block;
  margin-top:30px;
}

.inner_footer .logo_container img{
  width: 200px;
  height: auto;
}

.inner_footer .footer_third{
  width: calc(21.6666666667% - 20px);
  margin-right: 10px;
  float: left;
  height: 100%;
  padding-top:22px;
}

.inner_footer .footer_third:last-child{
  margin-right: 0;
}

.titulo_listas{
  color: white;
  font-size: 27px;
  font-family: 'Poppins', sans-serif;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.inner_footer .footer_third a{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: white;
  display: inline-block;
  width: 100%;
  font-weight: 200; 
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.inner_footer .footer-third a:hover{
  color:#1db954;
}


.footer_span{
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 200;
  display: block;
  width: 100%;
  padding-top: 90px;
  text-align: end;
}



@media(max-width: 600px){
  .footer .inner_footer{ width: 90%; }

  .inner_footer .logo_container,
  .inner_footer .footer_third{
    width: 100%;
    margin-bottom: 30px;
  }
}